<li [class.completed]="todo.completed">
    <div *ngIf="!isEditing" class="todo-display">
    {{todo.task}} - {{todo.duration}} min
    <div class="actions">
    <button *ngIf="!todo.completed" (click)="markComplete()">Complete</button>
    <button (click)="startEditing()">Edit</button>
    <button (click)="removeTask()">X</button>
        </div>
    </div>

    <div *ngIf="isEditing" class="todo-edit">
        <input type="text"
        [(ngModel)]="editedTask" class="edit-input">
        - 
        <input type="number"
        [(ngModel)]="editedDuration" class="edit-input">
        min 
        <div class="actions">
            <button (click)="saveEdit()">Save</button>
            <button (click)="cancelEdit()">Cancel</button>
        </div>
    </div>
</li>
